<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Can I Take It</li>
    </ul>
  </div>
  <form id='text-form'>
    <div class="top-bar-right ui-widget">
      <ul class="menu">
        <li><input type="search" id="searchText" placeholder="Search" autocomplete="off"></li>
        <li><button type="submit" class="button">Search</button></li>
      </ul>
    </div>
  </form>
</div>
