<div class='banner'>
  <div class='header-product-page'>
    <a href='/'><img src='img/wada-site-logo-green.png' alt='Home'/></a>
    <a href='https://www.usada.org/substances/prohibited-list/'> <img src='img/wada-logo-official.jpeg' alt='WADA' title='WADA Prohibited List 2017'/></a>
  </div>
  <input type='search' id='searchText' placeholder='Search by product or ingredient' autocomplete='off' />
</div>
