<div class='banner'>
  <div class='header-product-page'>
    <p><a href='/'>HOME</a></p>
    <div><a href='https://www.usada.org/substances/prohibited-list/'> <img src='img/wada-logo-official.jpeg' alt='WADA' title='WADA Prohibited List 2017'/></a></div>
  </div>
  <div>
    <div><input type='search' id='searchText' placeholder='Search by product or ingredient' autocomplete='off' /></div>
  </div>
</div>
