<div class='callout'>
  <h3>Product Info</h3>
  {{#each model.product_content}}
  <p>{{this.header}}</p>
  <p>{{this.content}}</p>
  <ul>
    {{#each this.bullet}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  {{/each}}
</div>
