<!-- <iframe class='window_peek' src={{model.product_link_bodybuildingDotCom}}></iframe> -->
<!-- <div class='product-content'>
  <h5>Product Info</h5>
  {{#each model.product_content}}
  <p>{{this}}</p>
  {{/each}}
</div> -->
