<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css" integrity="sha256-itWEYdFWzZPBG78bJOOiQIn06QCgN/F0wMDcC4nOhxY=" crossorigin="anonymous" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- <link rel='stylesheet' href='css/singleProductPage.css' type='text/css' />
    <link rel='stylesheet' href='css/homepage.css' type='text/css' /> -->
    <link rel='stylesheet' href='css/main.css' type='text/css' />
  </head>
  <body>
      <div class='top-half'>
        <div class='header'>
          <a href='https://www.usada.org/substances/prohibited-list/'><img src='img/wada-logo-official.jpeg' alt='WADA' title='WADA Prohibited List 2017'/></a>
        </div>
        <img src='img/wada-site-logo-green.png' />
      </div>
      <div class='logo-box'>
          <img src='img/site-logo.png' />
          <div class='search-box'>
            <input type='search' id='searchText' placeholder='Search by product or ingredient' autocomplete='off' />
            <input type='checkbox' id='agreement' /><span> I agree to the Terms and Conditions</span>
          </div>
      </div>
      <div class='bottom-half'>
        <h2>Nutrition and Supplement Verification System</h2>
        <p> The World's most advanced Supplement Verification system. A comprehensive analysis of ingredients to determine a products safety according to the World Anti-Doping Agency. Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum </p>
        <div class='footer'>
          <a href='#'>Disclaimer</a>
          <a href='http://localhost:3000/contact'>Contact Us</a>
        </div>
      </div>


    <script src='/js/libs/jquery-3.2.0.min.js'></script>
    <script src="/js/libs/jqueryui.js"></script>
    <script src='/js/libs/moment.js'></script>
    <script src='/js/libs/mustache.js'></script>
    <script src='/js/libs/deparam.js'></script>
    <script src='/js/utilities.js'></script>
  </body>
</html>
