.product_flex {
  display: flex;
}

p {
  font-size: 2vmin;
}

a {
  font-size: 1.8vmin;
}

h3, h4, h5, h6 {
  font-weight: bold;
  font-size: 3.2vmin;
}

span {
  font-size: 2vmin;
}

.top-bar {
  margin-bottom: 50px;
}

.top-bar, .top-bar ul {
  background-color: #303030;
  color: white;
}

img {
  width: 30vmin;
  margin-right: 8vw;
}
.callout {
  margin-top: 15px;
}

.label_flex {
  display: flex;
}
